<div class="countdown">
  <div class="countdown-body">
    <div>
      <h2>Party countdown...</h2>
    </div>
    <div class="container">
      <p class="countdown-p">{{days}}</p>
      <p class="countdown-p">{{hours}}</p>
      <p class="countdown-p">{{minutes}}</p>
      <p class="countdown-p">{{seconds}}</p>
    </div>
    <div class="container">
      <p class="countdown-text">dagen</p>
      <p class="countdown-text">uren</p>
      <p class="countdown-text">minuten</p>
      <p class="countdown-text">seconden</p>
    </div>
  </div>
</div>