.countdown-img{
    height: 500px;
    float: right;
}

.countdown {
    width: 100%;
    background: #78B7A4 url('../../assets/images/auto.png') no-repeat fixed right;
    background-size: 50%;
    height: 400px;
}

.countdown-body{
    margin: auto;
    width: 50%;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;

}

h2 {
    color: #f2bfc6;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 20px;
}

.countdown-p{
    color: #6CA390;
    width: 80px;
    height: 100px;
    text-align: center;
    background-color: white;
    margin: 5px;
    font-size: 50px;
}

.countdown-text{
    color: white;
    width: 80px;
    margin: 5px;
    text-align: center;
}
