.countdown {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    text-align: center;
    margin: auto;
    width: 50%;

}

.measurements {
    width: 500px;
    margin: 10px;
    background-color: #fff;
    color: black;
    border-radius: 8px; 
    box-shadow:0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08);
}  