<div class="tip-body">
  <div *ngIf="beforeFirstTip()">
    <h1>de verzamelde tips...</h1>
    <p>sorriedesnorrie betsy, nog geen tips!</p>
  </div>
  <div *ngIf="!beforeFirstTip()">
    <h1>Tip 1</h1>
    <p>Kleine teleurstelling, dit was gewoon om te tonen hoe zo’n tip eruit ziet.</p>
    <a href='https://www.youtube.com/watch?v=jfhGMnn9MWc'>Hihihi</a>
  </div>
  <div *ngIf="secondTip()">
    <h2>Tip 2</h2>
    <p>@ Carol: Hou 18-19 oktober vrij (vijdag- tot zaterdagavond)!</p>
    <p>@ Kristof: Hou 18 oktober ’s avonds vrij!</p>
  </div>
  <div *ngIf="thirdTip()">
    <h2>Tip 3</h2>
    <p>Deze is voor jou, CAROL! Wees nu vrijdag om 18u aan het station van Dendermonde. Mee te brengen: een verse
      onderbroek en uw goed humeur!
    </p>
  </div>
  <div *ngIf="fourthTip()">
    <h2>Tip 4</h2>
    <p>KRISTOF aka Firmin, vrijdag om 17u.</p>
    <a href='https://www.youtube.com/watch?v=Gm0YsRJfxvY'>Firminke doen</a>
  </div>
  <div *ngIf="fifthTip()">
    <h2>Tip 5</h2>
    <p>Let’s go, Carol! Remember: 18u aan het station van Dendermonde! Cis en Pipa hebben nog een kleine verrassing die je niet mag vergeten meenemen!</p>
    <p>Kristof, niet vergeten! om 17u thuis!</p>
  </div>
  <div *ngIf="sixthTip()">
    <h2>Tip 6</h2>
    <img src='../../assets/images/riddle.png' width=100%>
  </div>
  <div *ngIf="seventhTip()">
    <h2>Tip 7</h2>
    <p>Nieuwsgierig?</p>
    <img src='../../assets/images/struisvogel.png' width=100%>
    <p>Spannend hé!!!</p>
  </div>
</div>