<div class="tip-body">
  <div *ngIf="beforeFirstTip()">
    <h1>de verzamelde tips...</h1>
    <p>sorriedesnorrie betsy, nog geen tips!</p>
  </div>
  <div *ngIf="!beforeFirstTip()">
    <h1>Tip 1</h1>
    <p>Kleine teleurstelling, dit was gewoon om te tonen hoe zo’n tip eruit ziet.</p>
      <a href='https://www.youtube.com/watch?v=jfhGMnn9MWc'>Hihihi</a>
  </div>
  <div *ngIf="secondTip()">
    <h2>Tip 2</h2>
    <p>@ Carol: Hou 18-19 oktober vrij (vijdag- tot zaterdagavond)!</p>
    <p>@ Kristof: Hou 18 oktober ’s avonds vrij!</p>
  </div>
</div>